#### pre processing

In [ ]:
# _____________ IMPORT
#region
from calendar import c
from ntpath import join
from re import A
from tkinter.tix import DirSelectBox
from zlib import DEF_BUF_SIZE
import pandas as pd
import seaborn as sns # added to OGD_HMM
import numpy as np
import matplotlib.pyplot as plt
import shutil
from glob import glob
from pathlib import Path
# from os import path
import os
# import glob
from IPython.display import display
import math

#### action analysis

In [ ]:
ogd_data = pd.read_csv("Data\gaze_input_tobii_and_ogd\group_difficult\participant01_trial01_ogd.txt", sep='\t')
# drop columns with any NaN values (don't know why they occur sometimes?)
ogd_data.dropna(inplace=True)
ogd_data.reset_index(drop=True, inplace=True) 
            
# initialize the action df
df_actions = pd.DataFrame()
df_actions['Action'] = ogd_data['Action']
df_actions['start_time'] = ogd_data['start_time']
df_actions['end_time'] = ogd_data['end_time']

# add column with action as numbers to simplify finding changes
all_actions = ogd_data['Action'].unique().tolist()
dict_actions = {k: v for v, k in enumerate(all_actions)}
df_actions['Action Numbers'] = (df_actions['Action']).map(dict_actions)

In [ ]:
# create a variable called 'change' that tells whether the event changed (calculates the difference to previous row)
df_actions['change'] = df_actions['Action Numbers'].diff()
# set change to 0 in first column
#df_actions['change'][0] = 1

In [ ]:
# remove rows where the event did not change:
df_actions = df_actions.loc[df_actions['change'] !=0 ,:]

In [ ]:
# assign continous start and end times -> end_time of action 1 = start_time of action 2
# to prevent gaps for further analysis of fixations and saccades
df_actions['start_time_action'] = float(0*len(df_actions))
if df_actions['change'][32] != 0:
    df_actions['start_time_action'][32] = df_actions['end_time'][32-1]

In [ ]:
# add start time of action
df_actions['end_time_action'] = df_actions['start_time'].shift(-1)
df_actions['start_time_action'] = df_actions['start_time']

# add time of last action
df_actions['end_time_action'].iloc[len(df_actions)-1] = ogd_data['end_time'].iloc[len(ogd_data)-1]
df_actions

In [ ]:

# fix first column (starts when very first action in first fixation starts)
df_actions['start_time_action'][0] = ogd_data['start_time'][0]

In [ ]:
df_actions['start_time_event'] = df_actions['end_time'].shift(1)
df_actions['end_time_event'] = df_actions['end_time']

#### all in one

In [44]:
import pandas as pd

ogd_data = pd.read_csv("Data\gaze_input_tobii_and_ogd\group_difficult\participant01_trial01_ogd.txt", sep='\t')
fixationdata = pd.read_csv("Data\gaze_input_tobii_and_ogd\group_difficult\participant01_trial01_fixations.txt", sep='\t')

# drop columns with any NaN values (don't know why they occur sometimes?)
ogd_data.dropna(inplace=True)
ogd_data.reset_index(drop=True, inplace=True) 

# rename last col to 'action'
ogd_data.rename(columns={ogd_data.columns[-1]: 'action'}, inplace=True)

# initialize the action df
df_actions = pd.DataFrame()
df_actions['Action'] = ogd_data['action']
df_actions['start_time'] = ogd_data['start_time']
df_actions['end_time'] = ogd_data['end_time']

# add column with action as numbers to simplify finding changes
all_actions = ogd_data['action'].unique().tolist()
dict_actions = {k: v for v, k in enumerate(all_actions)}
df_actions['Action Numbers'] = (df_actions['Action']).map(dict_actions)


# create a variable called 'change' that tells whether the event changed (calculates the difference to previous row)
df_actions['change'] = df_actions['Action Numbers'].diff()

# remove rows where the event did not change:
df_actions = df_actions.loc[df_actions['change'] !=0 ,:]

# 
df_actions['start_time_action'] = df_actions['start_time']
df_actions['end_time_action'] = df_actions['start_time'].shift(-1)


# add time of first and last action
# end of trial time
end_time_seconds = float(fixationdata['Event End Trial Time [ms]'].iloc[len(fixationdata)-1]/1000)
df_actions['end_time_action'].iloc[len(df_actions)-1] = end_time_seconds
# start of trial time
df_actions['start_time_action'][0] = float(0)
df_actions

c:\Users\renee\anaconda3\envs\OGD_HMM\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
c:\Users\renee\anaconda3\envs\OGD_HMM\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Action,start_time,end_time,Action Numbers,change,start_time_action,end_time_action
0,Cap Off,0.850,0.950,0,NaN,0.000,4.787
32,Apply Tip,4.787,4.887,1,1.0,4.787,13.232
109,Setting Units,13.232,13.302,2,1.0,13.232,15.981
133,Priming,15.981,16.081,3,1.0,15.981,20.438
173,Setting Units,20.438,20.508,2,-1.0,20.438,21.697
182,Priming,21.697,21.797,3,1.0,21.697,29.623
246,Setting Units,29.623,29.723,2,-1.0,29.623,32.801
274,Injection,32.801,32.901,4,2.0,32.801,53.379
455,Remove Tip,53.379,53.479,5,1.0,53.379,61.235
522,Cap On,61.235,61.335,6,1.0,61.235,69.200

In [42]:
df_actions.reset_index(inplace=True)
df_actions = df_actions.rename(columns = {'index':'action_change_index'})

In [43]:
df_actions

,Items,Action,start_time,end_time,Action Numbers,change,start_time_action,end_time_action
0,0,Cap Off,0.850,0.950,0,NaN,0.000,4.787
1,32,Apply Tip,4.787,4.887,1,1.0,4.787,13.232
2,109,Setting Units,13.232,13.302,2,1.0,13.232,15.981
3,133,Priming,15.981,16.081,3,1.0,15.981,20.438
4,173,Setting Units,20.438,20.508,2,-1.0,20.438,21.697
5,182,Priming,21.697,21.797,3,1.0,21.697,29.623
6,246,Setting Units,29.623,29.723,2,-1.0,29.623,32.801
7,274,Injection,32.801,32.901,4,2.0,32.801,53.379
8,455,Remove Tip,53.379,53.479,5,1.0,53.379,61.235
9,522,Cap On,61.235,61.335,6,1.0,61.235,69.200

#### separate ogd_data into new dataframes and calculate ooi_metrics

In [40]:
# extract actions
all_actions = ogd_data['action'].unique().tolist()

In [41]:
all_actions

['Cap Off',
 'Apply Tip',
 'Setting Units',
 'Priming',
 'Injection',
 'Remove Tip',
 'Cap On']

In [37]:
df_new = ogd_data[ogd_data['action'] == 'Cap Off']

In [38]:
df_new

,start_time,end_time,App,Cap,Gauge,Pad,Pen,Safety,Tip,action
0,0.850,0.950,300.8,24.7,183.8,551.0,0.0,368.1,1600.0,Cap Off
1,0.950,1.050,302.4,30.0,182.9,552.0,0.0,380.7,1600.0,Cap Off
2,1.050,1.100,305.4,31.8,182.4,560.0,0.0,387.4,1600.0,Cap Off
3,1.119,1.219,279.7,65.8,151.1,533.0,0.0,431.7,1600.0,Cap Off
4,1.269,1.369,265.7,98.7,120.2,503.1,0.0,468.4,1600.0,Cap Off
5,1.369,1.469,266.6,90.7,126.5,506.9,0.0,460.4,1600.0,Cap Off
6,1.469,1.569,268.3,87.2,129.5,511.0,0.0,456.5,1600.0,Cap Off
7,1.599,1.699,268.8,92.2,123.0,507.7,0.0,457.9,1600.0,Cap Off
8,1.819,1.919,358.7,0.0,244.0,650.4,36.7,317.6,1600.0,Cap Off
9,1.969,2.069,375.7,0.0,248.7,619.1,45.0,348.9,1600.0,Cap Off
10,2.129,2.229,368.7,0.0,244.1,633.0,37.0,327.7,1600.0,Cap Off
11,2.399,2.499,332.1,0.0,241.6,637.5,5.0,348.9,637.6,Cap Off
12,2.499,2.559,326.1,12.0,235.0,631.8,0.0,367.4,1600.0,Cap Off
13,2.579,2.659,251.8,100.7,150.3,543.0,0.0,461.9,1600.0,Cap Off
14,2.678,2.778,243.4,125.0,130.4,526.0,0.0,483.3,1600.0,Cap Off
15,2.848,2.948,353.2,7.0,253.2,652.2,0.0,364.0,1600.0,Cap Off
16,2.948,3.048,354.2,3.0,258.3,657.0,3.0,361.9,1600.0,Cap Off
17,3.048,3.148,356.8,5.0,255.1,656.1,0.0,367.2,1600.0,Cap Off
18,3.148,3.248,364.0,5.8,255.4,664.0,3.6,364.3,1600.0,Cap Off
19,3.308,3.408,321.3,199.3,343.4,642.9,0.0,1600.0,1600.0,Cap Off
20,3.408,3.458,326.1,243.4,347.2,652.4,11.2,1600.0,1600.0,Cap Off
21,3.498,3.568,376.0,270.1,365.5,691.8,0.0,285.3,1600.0,Cap Off
22,3.648,3.728,366.3,340.8,368.8,678.2,14.1,281.1,1600.0,Cap Off
23,3.768,3.868,347.1,437.8,352.7,659.0,7.8,288.3,1600.0,Cap Off
24,3.918,4.018,351.8,443.6,347.3,658.4,11.7,277.6,1600.0,Cap Off
25,4.018,4.118,342.1,404.8,335.7,653.0,6.7,280.5,1600.0,Cap Off
26,4.118,4.168,345.1,421.5,338.1,658.4,26.0,274.0,1600.0,Cap Off
27,4.218,4.318,332.5,449.2,306.8,640.1,0.0,283.0,1600.0,Cap Off
28,4.337,4.437,327.7,442.4,288.3,626.6,0.0,292.9,1600.0,Cap Off
29,4.437,4.537,329.3,433.1,284.8,628.2,0.0,295.9,1600.0,Cap Off
30,4.537,4.597,334.2,429.7,281.4,626.6,0.0,301.0,47.0,Cap Off
31,4.617,4.717,349.5,423.4,308.7,651.1,0.0,274.2,1600.0,Cap Off

In [ ]:
for i in range(1,len(df_actions)):
    df_new = ogd_data[df_actions.index[i-1]:df_actions.index[i]]

In [ ]:
df_new

In [ ]:
cut_off_rows = []
i=0
for row in range(1,len(ogd_data)-1):
    print('row:', row)
    print('i:', i)
    if ogd_data['end_time'][row] > df_actions['end_time_action'][i]:
        cut_off_rows.append(row-1)
        print('i:', i)
        i=i+1

In [ ]:
cut_off_rows

In [ ]:
ogd_data.iloc[0:5]